migration_tool/*.csv
migration_tool/*.json
migration_tool/*.txt
migration_tool/ABC
migration_tool/core
migration_tool/my_profiler_*
migration_tool/prueba.sh
rapl/my_test
rapl/rapl
rapl/*.csv
rapl/*.png
rapl/.Rhistory

